<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="SenderEmail" value=""/>
    <add key="SenderPassword" value=""/>
    <add key="ServerEmail" value=""/>
    <add key="ServerPassword" value=""/>
    <add key="ImapPort" value="993"/>
    <add key="ImapServer" value="imap.gmail.com"/>
    <add key="CmdSalt" value="dash_of_salt"/>
    <add key="ByteSalt" value="o6806542kbM7c3"/>
    <add key="EncrptKey" value="fart"/>
  </appSettings>
  
</configuration>